
.technician-names {
  width: 100%;
  height: 100%;
}
#firstTechnician-label-container,
#firstTechnician-input-container,
.total-distance-container-below,
.checkbox-left,
.time-container-all,
.time-label-container-above {
  padding-right: 0;
}
#servicePoint-label-container,
#servicePoint-input-container,
.checkbox-right,
.total-distance-input-container-all,
.time-input-container-above {
  padding-left: 0;
}
.time-label-container {
  padding-left: 12px;
}
.checkbox-container,
.discovery-number-container,
.total-distance-input-container,
.total-distance-label-container,
.total-distance-input-container,
.total-distance-input-container-above,
.time-input-container,
.time-label-container,
.time-input-container-middle {
  width: 100%;
  height: 100%;
}
.total-distance-label{
  padding-left: 16px;
}
/* Hide the actual checkbox */
.input-checkboxes {
  visibility: hidden;
}

/* Create a custom box using the :before pseudo-element */
.input-checkboxes + .label-checkboxes:before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid var(--borderColorForCheckbox);
  border-radius: 3px;
}

/* Change the background color of the custom box when the checkbox is checked */
.input-checkboxes:checked + .label-checkboxes:before {
  content: "\2713";
  background: whitesmoke;
  color: black;
}

.time-input {
  color-scheme: var(--time-color-schema);
  width: 100%;
  height: 100%;
  font-size: 12px;
}
.time-input-container {
  width: 70px;
  height: auto;
}
