.header-first-container{
  height: 220px;
}
.header-first-row-1,.header-first-row-2{
  height: 110px;
}
.header-first-info {
  font-size: x-small;
}
.header-first-row-1 img{
  height: 110px;
  width: auto;
}

