.service-cause-checkboxes-first-row,
.service-cause-checkboxes-second-row {
  padding-top: 5px;
}

@media screen and (max-width: 400px) {
  .render-another-label-and-input {
    margin-top: 6px;
  }
  .another-input-container-all {
    padding: 2px;
  }
}
.another-container-below {
  padding-top: 4px;
}
.service-cause-container{
  margin-top: 12px;
}