.list-header-1,
.list-header-3,
.list-header-2,
.list-header-4,
.list-header-5,
.list-header-6,
.list-item-first,
.list-item-second,
.list-item-third,
.list-item-fourth,
.list-item-fifth,
.list-item-sixth {
  padding-right: 0px;
}
.list-header-2,
.list-header-3,
.list-header-4,
.list-header-5,
.list-header-6,
.list-header-7,
.list-item-second,
.list-item-third,
.list-item-fourth,
.list-item-fifth,
.list-item-sixth,
.list-item-seventh {
  padding-left: 0px;
}

.list-container {
  margin-top: 1rem;
}
.list-header-1-under,
.list-header-2-under,
.list-header-3-under,
.list-header-4-under,
.list-header-5-under,
.list-header-6-under,
.list-header-7-under,
.input-above-7, 
.input-above-6,
.input-above-5,
.input-above-4,
.input-above-3,
.input-above-2,
.line-number-container,
.line-number-container-above {
  height: 100%;
}
.add-row-container {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 435px) {
  h5 {
    font-size: 14px;
    overflow: auto;
  }
  h6 {
    font-size: 15px;
    overflow: auto;
  }
}
select.currency-select,.unit-select {
  color: var(--borderColorForCheckbox) !important;
  background-color: transparent !important;
  border-radius: 10px;
  outline: none;
}
.currency-option,.unit-option {
  color: black !important;
}

