.toggle {
  font-size: 1rem;
  border: 0.125em solid currentColor;
  border-radius: 2em;
  cursor: pointer;
  display: block;
  height: 2em;
  position: sticky;
  margin-left: auto;
  margin-top: 15px;
  margin-right: 12px;
  width: 3.75em;
}

@media screen and (max-width: 620px) {
  .toggle {
    top: 1.2rem;
    font-size: 0.8rem;
  }
}

.toggle span {
  background-color: currentColor;
  border-radius: 2em;
  display: block;
  height: 1.5em;
  left: 0.25em;
  overflow: hidden;
  position: absolute;
  top: 0.15em;
  text-indent: -9999px;
  transition: left 0.25s;
  width: 1.5em;
  z-index: 2;
}

.toggle::before,
.toggle::after {
  content: "";
  display: block;
  border-radius: 1em;
  position: absolute;
  z-index: 1;
}

.toggle::after {
  box-shadow: 0.25em 0.25em #5901d8;
  height: 1.125em;
  left: 0.1em;
  top: 0.125em;
  width: 1.125em;
}

.toggle::before {
  background-color: #ffc409;
  height: 0.625em;
  outline: 0.25em dotted #ffc409;
  outline-offset: 0.125em;
  right: 0.7em;
  top: 0.6em;
  width: 0.625em;
}

input:checked ~ .toggle span {
  left: 1.8em;
}

.sr-only {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
body {
  transition: background-color 1s;
  color: whitesmoke;
}
body,
html {
  margin: 0;
  padding: 0;
  background: linear-gradient(140deg, rgb(0, 0, 0) 0%, rgb(29, 1, 11) 100%);
  overflow: hidden;
  height: 100vh;
  color: whitesmoke;
  overflow: auto;
}

body:has(#darkmode-toggle:checked) {
  background: whitesmoke;
  color: black;
}
body:has(#darkmode-toggle:checked) .box-borders {
  border: 1px solid black;
}
body:has(#darkmode-toggle:checked) .box-borders-left {
  border-left: 1px solid black;
}
body:has(#darkmode-toggle:checked) .box-borders-bottom {
  border-bottom: 1px solid black;
}
body:has(#darkmode-toggle:checked) .box-borders-top {
  border-top: 1px solid black;
}
body:has(#darkmode-toggle:checked) .box-borders-right {
  border-right: 1px solid black;
}


body:has(#darkmode-toggle:checked) .header-first-logo {
  filter: invert(1);
}
body:has(#darkmode-toggle:checked) input {
  color: black;
}
body:has(#darkmode-toggle:checked) textarea {
  color: black;
}
