.submit-button {
  color: var(--borderColorForCheckbox) !important;
  border-color: var(--borderColorForCheckbox) !important;
}
.submit-button:hover {
  border-color: green !important;
  color: green !important;
}
