.header-second-container {
  height: 220px;
}
.row-container {
  height: 220px;
}

.header-second-first-row,
.header-second-second-row {
  height: 110px;
}


@media screen and (max-width: 620px) {

  .header-second-second-row {
    height: 55px;
  }
}
