.header-second-container,.row-container {
  height: 220px;
}

.header-second-first-row,
.header-second-second-row {
  height: 110px;
}


@media screen and (max-width: 620px) {
  .header-second-first-row,
  .header-second-second-row {
    height: 83.675px;
  }
}
.report-no-container{
  height: 100%;
}