.visual-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual-card,
.delete-button {
  flex: 1;
  color: var(--borderColorForCheckbox) !important;
  border: 1px solid !important;
  border-color: var(--borderColorForCheckbox) !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.visual-card {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
}

.delete-button {
  margin-bottom: 4px;
  align-self: flex-end;
  margin-top: auto;
}
