.box-borders {
  border: 1px solid whitesmoke;
}
.main-form-container h1,
.main-form-container h2,
.main-form-container h3,
.main-form-container h4,
.main-form-container h5,
.main-form-container h6 {
  margin: 0 !important;
  padding: 4px;
}
.box-borders-left {
  border-left: 1px solid whitesmoke;
}
.box-borders-bottom {
  border-bottom: 1px solid whitesmoke;
}
.box-borders-top {
  border-top: 1px solid whitesmoke;
}

.box-borders-right {
  border-right: 1px solid whitesmoke;
}

.main-form-container label {
  padding: 4px;
}
.main-form-container input[type="text"],
.main-form-container input[type="number"] {
  background: transparent;
  color: whitesmoke;
  padding: 0;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  height: 100%;
  border: none !important;
  outline: 0 !important;
}
.main-form-container textarea {
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 42px;
  border: none !important;
  outline: 0 !important;
  color: whitesmoke;
  min-height: 40px;
  max-height: 200px;
  cursor: auto;
}
.main-form-container textarea::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke;
}
.main-form-container textarea::-webkit-scrollbar-thumb {
  background-color: rgb(58, 58, 58);
}
.main-form-container textarea::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

:root {
  --borderColorForCheckbox: whitesmoke;
  --time-color-schema: dark;
}
.main-form-container input[type="time"] {
  background-color: transparent;
  border: none;
  outline: 0;
}
@media screen and (max-width: 500px) {
  .main-form-container label {
    font-size: small;
  }
}

.main-form-container textarea {
  padding-left: 4px;
  padding-right: 4px;
}
html,
body {
  height: auto;
  max-height: auto;
  overflow: auto;
}
